* {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}
html, body {
    margin: 0;
    height: 100%;
}

header {
    text-align: center;
    color:#A35A99;
    font-size:larger;
    padding: 3px;
    padding-bottom: 16px;
    margin-top:5px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-skip-ink: none;
}


.text {
    text-align: center;
    color:#A35A99;
    font-size:large;
}
#hyperlink_right {
    opacity: 0;
}
#hyperlink {
    color: #bb79b2;
    text-decoration-thickness: 5px;
    display: inline-block;
}
#hyperlink_ {
    color: #ca00fc78;
    text-decoration-thickness: 3px;
    display: inline-block;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Allows positioning of child elements */
}
.back {
    position: absolute; /* Remove from the flex flow */
    left: 0; /* Position it on the left side */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
}
.header {
    text-align: center;
}

.badges img {
    height: 27px;
}

#welcome {
    background-color: rgba(255, 192, 245, 0.5);
    padding-bottom: 16px;
    text-align: center;
    font-size: xx-large;
}
.background {
    width: 100%;
    height: 100%;
}

.infobox {
    width: 45%;
    margin-top: 5px !important;
    margin:  auto;
    background-color: rgba(255, 192, 245, 0.5);
    padding: 20px;
    text-align: center;
    font-size: large;
    color:#A35A99;
}

#identitycontainer {
    position: relative;
    display: inline-block;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 15px;
}

#topTracks * {
    text-align: left;
    padding-left: 10px;
}

#identity1 {
    position: absolute;
    width: 100%;
    bottom: 13px;
    font-size: 10px;
}

#identity2 {
    position: absolute;
    width: 100%;
    bottom: -4px;
    font-size: 10px;
}

#transStereotype {
    font-size: medium;
    color:rgba(222, 55, 203, 0.2)
}

.laptopName {
    text-decoration: underline;
    color: #bb79b2 !important;
    text-decoration-thickness: 3px;
    cursor: pointer;
}

.imageIcon {
    width: 20px;
    position: relative;
    top: 7.7px;
    filter: invert(61%) sepia(13%) saturate(1326%) hue-rotate(257deg) brightness(88%) contrast(81%);
}